<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ username }}'s Food Tour!</title>
    </head>
    <body>
        <h1>{{ username }}'s Food Tour!</h1>
        <p>How it works: Select the countries you will be travelling to and add them to the list below. Press submit and enjoy a guide for local cuisines to try on your trip!</p>
        <form>
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="username"/>
            <br>
            <label for="mail">Email:</label>
             <input type="email" name="user_email"/>
            <br>
            <ul>
                {% for country in selectedCountries %}
                    <li>{{ country.countryName}}</li>
                {% endfor %}
            </ul>
            <br>
            <div>
                <select>
                    {% for country in country.list %}
                        <option value="{{ countryName }}"></option>
                    {% endfor %}
                    </select>
            </div>
            <button type="submit">Get Your Tour</button>
            <br>
            <input type="checkbox">
            <label for="exampleCheck">I want to receive a copy of this guide in my email.</label>
        </form>
    </body>
</html>