<!DOCTYPE html>
<html lang="en">
    <head>
        <title>World Food Tour!</title>
        <script>
            async function initMap(cityObject, cityName) {
                // Use location of random resto as location of city

                const position = {
                    lat: cityObject[0]["resto_latitude"],
                    lng: cityObject[0]["resto_longitude"]
                };
                //@ts-ignore
                const { Map } = await google.maps.importLibrary("maps");
                const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

                //`map${cityName}`
                gMap = new Map(document.getElementById(cityName + "Map"), {
                    zoom: 4,
                    center: position,
                    mapId: 'cityName + "Map"',
                });

                for (const food of cityObject) {
                    console.log("adding marker for: " + food["food_name"]);
                    const curr_position = {
                        lat: food["resto_latitude"],
                        lng: food["resto_longitude"]
                    };
                    console.log("long+lat " + food["resto_latitude"] + " | " +food["resto_longitude"]);
                    const marker = new AdvancedMarkerElement({
                        map: gMap,
                        position: curr_position,
                        title: food["food_name"]
                    });
                }
            }


            document.addEventListener('DOMContentLoaded', function() {
                fetch('/getFoods/get_top_foods')
                .then((response) => {
                    return response.json();
                })
                .then(data => {
                    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: "{{ frontend_api_key }}", v: "weekly"});
                    

                    innerHtml = ""
                    //for every city
                    for (let i = 0; i < data.length; i++) {
                        cityObject = data[i];
                        cityName = cityObject[0]["city_name"];
                        innerHtml += "<div id='city'>" + cityName;
                        
                        //iterate over every food of the city
                        for (const food of cityObject) {
                            //do the map stuff here so we can use the name of resto below
                            innerHtml += "<div id='one-food'>" + food['food_name'] + "<br>" + food['food_descr'] + "<br>" + "Try " + food['food_name'] + " at " + food['resto_name'] + "</div>" + "<br><br>"; 
                        }
                        
                        //end div for city div
                        innerHtml += "</div>"
                        innerHtml += "<div id='" + cityName + "Map' style=\"height:400px;width:100%;\"></div>"

                        // Initialize map
                        initMap(cityObject, cityName);
                    }
                    
                    document.querySelector('#all-destinations').innerHTML = innerHtml;
                })
            });
        </script>
    </head>
    <body>
        <h1>Your Travel Food Itinerary</h1>
        <div id="all-destinations"></div>
        <label for="example-check">Send this guide to my email.</label>
        <a href="{% url 'getFoods:logout' %}">Log Out</a>
    </body>
</html>


<!-- -> Create JSON object for all cities in user's destination with the key values being country, city, food#, food# description. The values are the answer. 
	-> For each city 
        -> Append start of div, then append City name to a string
        -> For each top 5 food of the country from the JSON data
            -> Append name of the food, then description of the food. Then call Maps API to find best restaurant for that food in the city. Append name to description. Add pin on map. 
        ->Append completed map of city (with set radius) to string. Append end of div.
    ->Assign string containing all cities and their foods to innerHTML of itinerary.html 
 -->

 <!--  console.log("---response:" + JSON.stringify(response));
 //console.log("---data: " + JSON.stringify(data));
                    //console.log("---data len: " + data.length);
                    //iterate over every city's JSON object 

                    // for (const [key, value] of Object.entries(data)) {
                    //     console.log(key, value);
                    // }-->