{% extends "getFoods/base.html" %}

{% block title %}Food Itinerary{% endblock title %}

{% block js %}
<!-- This script creates html code for all foods and creates maps -->
<script>
    //This function creates maps and adds pins for all restaurants
    async function initMap(cityObject, cityName) {
        // Use location of random resto as location of city
        const position = {
            lat: cityObject[0]["resto_latitude"],
            lng: cityObject[0]["resto_longitude"]
        };

        const { Map } = await google.maps.importLibrary("maps");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");

        gMap = new Map(document.getElementById(cityName + "Map"), {
            zoom: 12,
            center: position,
            mapId: 'cityName + "Map"',
            mapTypeControl: false,
            streetViewControl: false

        });

        for (const food of cityObject) {
            const curr_position = {
                lat: food["resto_latitude"],
                lng: food["resto_longitude"]
            };

            const marker = new AdvancedMarkerElement({
                map: gMap,
                position: curr_position,
                title: food["display_name"]
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        fetch('/getFoods/get_top_foods')
            .then((response) => {
                return response.json();
            })
            .then(data => {
                (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
                    ({ key: "{{ frontend_api_key }}", v: "weekly" });


                innerHtml = ""
                //create html code for every city and add map after 5 foods listed
                for (let i = 0; i < data.length; i++) {
                    cityObject = data[i];
                    cityName = cityObject[0]["city_name"];
                    innerHtml += "<div class='city'>" + "<div class='city-text'>" + "<h3 class=\"city-name-title\">" + cityName + "</h3>";

                    for (const food of cityObject) {
                        innerHtml += 
                            "<div class='one-food'>" 
                            + "<div class=\"food-display-name\">" + food['display_name'] + "</div>"
                            + "<div class=\"food-descr\">" + food['food_descr'] + "</div>"
                            + "Try this dish at: " 
                            + "<span class=\"try-food-at\">" + food['resto_name'] + "</span>"
                            + "</div>";
                    }

                    innerHtml += "</div>" + "<div id='" + cityName
                        + "Map' class=\"city-map\"></div>"

                    // Initialize map
                    initMap(cityObject, cityName);

                    innerHtml += "</div>" //end div for city's div
                }

                document.querySelector('#all-destinations').innerHTML = innerHtml;
            })
    });
</script>
{% endblock js %}

{% block content %}
<div class="itinerary-container">
    <a href="{% url 'getFoods:plan_trip' %}" id="go-back">← Go back</a>
    <h1>Your Food Itinerary</h1>
    <div id="all-destinations">Loading...</div>
    <a href="{% url 'getFoods:logout' %}" id="logout-link">Log Out &#128075</a>
</div>
{% endblock content %}