<!DOCTYPE html>
<html lang="en">
    <head>
        <title>World Food Tour!</title>
    </head>
    <body>
        <h1>{{ user.username }}'s Food Tour!</h1>
        <p>How it works: Select the countries you will be travelling to and add them to the list below. Press submit and enjoy a guide for local cuisines to try on your trip!</p>

        <!-- # means stay on same page -->
        <form method="post" action='#'>
            {% csrf_token %}
            <label for="addCountry">Next Country:</label>
            <select name="newCountry">
                {% for country in countriesNotSelected %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Add</button>
            <p>Current countries selected:</p>
            <ul>
                {% for country in countriesSelected %}
                    <li>{{ country.countryName}} <button>delete</button></li>
                {% endfor %}
            </ul>
            <input type="checkbox">
            <label for="exampleCheck">I want to receive a copy of this guide in my email.</label>
            <br>
            <button type="submit" formaction="{% url 'getFoods:itinerary'%}">Get Your Tour</button>
            <br>
        </form>
        <a href="{% url 'getFoods:logout' %}">Log Out</a>
    </body>
</html>