{% extends "getFoods/base.html" %}

{% block title %}World Food Tour{% endblock title %}

{% block js %}
<!-- JS to populate city drop down selector once country selected. -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //only execute when country selected
        document.getElementById("add-country").addEventListener("change", function () {
            const country = document.querySelector('#add-country').value;
            fetch(`/getFoods/get_cities/${country}`)
                .then((response) => response.json())
                .then(data => {
                    innerHtml = '<option value="">City</option>';
                    //iterate over cities to add add city name as select value
                    for (let i = 0; i < data.length; i++) {
                        let cityObject = data[i];
                        cityName = cityObject['fields']['name'];
                        //pk field gives city id
                        cityId = cityObject['pk'];
                        innerHtml += "<option value=\"" + cityId + "\">" + cityName + "</option>"
                    }
                    document.querySelector('#add-city').innerHTML = innerHtml;
                })
        })
    });
</script>
{% endblock js %}

{% block content %}
<div class="plan-trip-page-container">
    <div id="plan-trip-green">
        <h1 style="margin: 3rem 0;">Plan Your Trip</h1>
        <p>Select the cities you will be travelling to and receive a guide of local cuisines to try on your trip!</p>

        <!-- '' means go to same page -->
        <form method="post" action='' id="plan-trip-form">
            {% csrf_token %}
            <!-- select element for country -->
            <select name="add-country" id="add-country" required>
                <!-- this empty option tag is for "Country" display, the rest will be filled from js -->
                <option value="">Country</option> 
                {% for new_country in countries %}
                <option value="{{ new_country }}">{{ new_country }}</option>
                {% endfor %}
            </select>

            <!-- select element for city -->
            <select name="add-city" id="add-city" required>
                <option value="">City</option>
                <!-- don't need other options, js innerHtml will fill items -->
            </select>
            <button type="submit" id="add-btn">Add</button>
        </form>
        <p style="font-size:70%;padding:0 0 1rem;">* Currently only these countries will work: Canada, Japan, Taiwan, France, Italy, Ireland, USA, Spain, Greece, Turkey, Mexico, UK, Austria, Thailand.</p>
    </div>

    <div id="plan-trip-white">
        <!-- list current destinations chosen with option to delete -->
        <div id="plan-trip-white-text">
            <p style="text-align: center;">Current destinations selected:</p>
            <ul id="selected-dest">
                {% for destination in user.destinations.all %}
                <li>{{ destination.name }}, {{ destination.country.name }}
                    <a href="delete/{{destination.id}}" id="delete-btn">Delete</a>
                    {% endfor %}
            </ul>

            <!-- submit or logout -->
            <div id="get-tour-container">
                <a href="{% url 'getFoods:itinerary'%}">
                    <button class="submit-btn">Get Your Tour</button>
                </a>
                <a href="{% url 'getFoods:logout' %}" class="login-reg-link">Log Out</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}