<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Register</title>
        </head>
        <body>
            <h1>Register</h1>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ RegisterForm.as_table}}
                        <tr>
                            <td></td>
                            <td><input type="submit" name="submit" value="Register"/></td>
                        </tr>
                    </table>
            </form>
        </body>
    </html>