@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');

* {
    margin: 0; 
    padding: 0; 
    font-family: "Inter", sans-serif;
}

html, body { 
    height: 100%;
    width:100%;
} 

h1 {
    font-size: 300%;
}





/* ------LOGIN PAGE ----------------------------------------*/

.loginRegister-container {
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* formats text inside login and register page */
.login-text {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* to create lines on both sides of text */
.side-lines {
    text-align: center;
    border-bottom: 1.5px solid rgb(208, 205, 205); 
    line-height: 0.1em;
    margin: 50px 0 20px;
} 

/* for the text inside the .side-lines */
#side-line-text { 
    font-size: 12px;
    color: grey;
    background: white;
    padding-left: 8px;
}

/* for login user input */
input {
    border: 1px solid rgb(233, 243, 233); 
    background-color: rgb(233, 243, 233); 
    border-radius: 1.1em;
    width: 334px;
    height: 37px;
    margin: 5px 0;
    padding: 0 8px;
}

::placeholder {
    color: rgb(146, 146, 146);
}

.submit-btn {
    border: 1px solid rgb(72, 159, 72); 
    background-color: rgb(72, 159, 72);
    color: white;
    border-radius: 2em;
    margin: 2rem 0 0.5rem;
    padding: 0 5px;
    width: 120px;
    height: 42px;
}

/* design for "New here?" */
#login-to-register {
    margin: 0 0 0.3rem;
    font-size: 12px;
    color: rgb(123, 123, 123);
}

/* design for link to go from login to registration page */
.login-reg-link {
    text-decoration: none;
    color: green;
    font-weight: 800;
    font-size: 12px;
}





/* -------REGISTRATION PAGE -----------------------------------*/

/* container for registration page */
.register-text {
    text-align: center;
}

/* text styling for registration page label */
label {
    color: grey;
    font-weight: 400;
    font-size: 14px;
}

/* the green input boxes for register.html needs own styling */
.register-text input {
    width: 220px;
    margin-left: 5px;
    padding-left: 8px;
}





/* -------REGISTRATION PAGE -----------------------------------*/

.plan-trip-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#plan-trip-green {
    background: rgb(72, 159, 72);
    height: 300px;
}

#plan-trip-green h1, #plan-trip-green p {
    color: white;
    text-align: center;
}

#plan-trip-white {
    background: rgb(245, 245, 245);
    flex: 1;
}

#plan-trip-white-text {
    width: 632px;
    margin: 3rem auto;
    padding: 20px 50px;
    border: 1px solid white; 
    border-radius: 1.1em;
    background-color: white; 
    color: grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#plan-trip-form {
    background-color: white;
    width: 700px;
    margin: 0.7rem auto;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

select {
    border: 1px solid rgb(233, 243, 233); 
    background-color: rgb(233, 243, 233); 
    border-radius: 1.1em;
    width: 317px;
    height: 30px;
    color: grey;
}

#add-btn {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    border: 1px solid rgb(183, 219, 183); 
    background-color: rgb(183, 219, 183); 
    border-radius: 1.1em;
}

#selected-dest {
  margin: 3rem;
}

#delete-btn {
    font-size: 12px;
    color: rgb(106, 106, 106);
    width: 15px;
    height: 13px;
    border: 1px solid (224, 224, 224); 
    background-color: rgb(224, 224, 224); 
    border-radius: 2rem;
    text-decoration: none;
    padding: 1.5px 8px;
    margin-left: 0.7rem;
}

#selected-dest li{
    margin: 5px 0;
}

#get-tour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* -------ITINERARY PAGE -----------------------------------*/

.itinerary-container{
    display: flex;
    flex-direction: column;
}

#go-back {
    text-align: left;
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 14px;
    margin: 2rem;
}

.itinerary-container h1 {
    color:green; 
    text-align:center;
    margin: 4rem 0 7rem;
    font-size: 80px;
}

.city {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.city-text {
    width: 50%;
    padding: 2rem 2.5rem 1rem;
    background: rgb(245, 245, 245);
    border-radius: 0.5rem;
    color: grey;
}

.city-map {
    width: 550px;
    height: 950px;
    margin: auto 0;
}

.city-name-title {
    font-size: 25px;
    font-weight: 500;
    padding-left: 0.5rem;
    color: rgb(97, 97, 97);
}

.one-food {
    margin: 1rem 0;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}

.food-display-name {
    font-size: 17px;
    font-weight: 530;
    margin-bottom: 8px;
    color: rgb(83, 148, 83);
}

.food-descr {
    margin-bottom: 0.5rem;
}

.try-food-at {
    font-size: 15px;
    font-weight: 650;
}

#logout-link {
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 3rem;
    text-align: center;
}

